*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "lato" , sans-serif;
    background: #ee060691;
}
.heading{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
}
h2{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 25px;
    text-align: center;
    text-shadow: 5px 3px 2px black
}
/* /* nav bar ****************************** */
#btn{
    color: white;
    margin-top: 5px;
    border-radius: 20px;
    background: rgba(255, 0, 0, 0.856);
    transition: all .4s ease-in;
    margin-bottom: 5px;
}
#btn:hover{
    color: black;
    border-radius: 20px;
    background: rgba(252, 4, 4, 0.39);
}
.topnav {
    background-color: white;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 22323232;
    top: 0;
    
    
}
.topnav a {
    display: block;
    float: right;
    color: black;
    text-align: center;
    padding: 14px 13px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    margin-right: 15px;
    transition: all .2s ease-in;
    margin-top: 5px;

}
.topnav a:hover {
    color: rgb(255, 0, 0);
    font-weight: bold;}
    .topnav .icon {
        display: none;
    }
    



ol li{
    font-weight: 600;
    margin-left: 10%;
}
#logo{
    margin-left: 15px;
}



/***********************footer***********************/

#ima{
    height: 100px;

}
#contact h2{
    color: red;
    font-size: 20px;
    border-left: solid red 2px;
}
#contact li{
    color: white;
}


#ico{
    color: red;
}
#part{
    border-right: solid 5px red;
}


@media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav{
        z-index: 10000;
        top: 0;
        position: fixed;
    }

   }
   @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    #btn{
        margin-left: 30px;
    }
    
    .topnav.responsive a {
      float: none;
      display: block;
    }
   
    }